<nav class="flex justify-between w-full text-3xl p-5">

  <div>
    <a href='/'><em class="fa fa-home text-blue-500" title="home"></em></a>
  </div>

  {% if session.user %}
  <div>
    <a href="./../account" title="{{ session.user.username }}"><em class="fa-solid
        fa-user"></em></a>
    <a href="./../logout"><em class="fa-solid fa-right-from-bracket ml-5"
        title="logout"></em></a>
  </div>

  {% else %}
  <div class="">
    <a href='./../login'>Login</a> | <a href='register'>Register</a>
  </div>

  {% if session.debug %}
  <div class="grow-1">
    <a href="./../autoLogin"><em class="fa-solid fa-right-to-bracket text-green-600"
        title="Auto Login"></em></a>
  </div>
  {% endif %}

  {% endif %}

  {% if session.debug %}
  <div class="grow-1">
    <a href="./../trash"><em class="fa-solid fa-trash text-red-500"
        title="Delete SESSION"></em></a> |
    <a href="./../t"><em class="fa-solid fa-gears mr-3" title="Page
Test"></em></a>
  </div>
  {% endif %}


</nav>

<hr class="mb-3">
