<div class="paginationBloc mt-5">

  <img class="paginationBtn left" src=".\..\..\src\assets\icons\fast-forward.png" alt="flèche">
  <img class="paginationBtn left" src=".\..\..\src\assets\icons\right-arrow.png" alt="flèche">
  <span class="paginationBtn page">3</span>
  <span class="paginationBtn page">4</span>
  <span class="paginationBtn page bold">5</span>
  <span class="paginationBtn page">6</span>
  <span class="paginationBtn page">7</span>

  <img class="paginationBtn" src=".\..\..\src\assets\icons\right-arrow.png" alt="flèche">
  <img class="paginationBtn" src=".\..\..\src\assets\icons\fast-forward.png" alt="flèche">
</div>